<h1>カレンダー共有アプリ</h1>
<p>ここにトップページのコンテンツを配置</p>
<% if logged_in? %>
  <p><%= current_user.username %> としてログインしています</p>
  <%= link_to 'ログアウト', logout_path%>
<% else %>
  <p>ログインしてください</p>
<% end %>
<%= link_to 'コメント一覧', comments_path %>